$background-primary: #f5f5f5;
$background-secondary: #4fdff7;

$button-active: #ff8a00;
$button-disabled: rgba(0, 0, 0, 0.4);

$font-size-24: 24px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-12: 12px;

$font-weight-400: 400;
$font-weight-500: 500;

$color-white: #ffffff;
$color-grey: rgba(0, 0, 0, 0.6);
$color-grey-dark: rgba(0, 0, 0, 0.87);
$color-blue: #3767e2;
$color-blue-light: #1976d2;
